<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dlhk.smartpresence">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.smart_presence.region_presence_statistic.ZoneOnRegionPresenceStatisticActivity"></activity>
        <activity android:name=".ui.smart_presence.assessment_civil_apparatus.CivilAppartusAssessmentActivity" />
        <activity android:name=".ui.smart_presence.individual_presence_statistic.IndividualPresenceStatisticActivity" />
        <activity android:name=".ui.smart_presence.confirm_permission.ConfirmPermission" />
        <activity android:name=".ui.inventory.stock_check.StockCheckActivity" />
        <activity android:name=".ui.inventory.inventory_check.InventoryCheckActivity" />
        <activity android:name=".ui.smart_presence.self_presence.SelfPresenceActivity" />
        <activity android:name=".ui.smart_presence.field_report.FieldReportActivity" />
        <activity android:name=".ui.inventory.submit_equipment.SubmitEquipmentActivity" />
        <activity android:name=".ui.smart_presence.update_permission.UpdatePermissionActivity" />
        <activity android:name=".ui.smart_presence.assesment_region_coordinator.AssessmentRegionCoordinatorActivity" />
        <activity android:name=".ui.smart_presence.assesment_zone_leader.AssesmentZoneLeaderActivity" />
        <activity android:name=".ui.main_menu.MainMenuActivity" />
        <activity android:name=".ui.smart_presence.presence.PresenceActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>